---
title: Oliver Peate | Software developer
pageable: true
per_page: 20
---
<h1>Hi, I&rsquo;m Oli.</h1> <p>I&rsquo;m a software developer with a background
in ecommerce and digital marketing. At the moment I&rsquo;m working with Ruby,
Swift and Golang. You can find a few <%= link_to 'open source projects', '/open-source.html' %> I’ve been working on.</p>

<h2>Articles</h2>
<% blog_content.each do |article| %>
  <div class="article-summary">
    <%= link_to article.title, article, class: "article-link" %>
    <span class="article-date"><%= article.date.strftime('%b %e, %Y') %></span>
    <%- unless external_content_note(article).nil? %>
      <span class="article-note"><%= external_content_icon(article) %> <%= external_content_note(article) %></span>
    <% end %>
    <%- unless featured_url(article).nil? %>
      <span class="article-note">Featured in <%= link_to article.featured_text, article.featured_url %></span>
    <%- end %>
  </div>
<% end %>
